@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    background-color: black;
    color: white;
  }
}